*{
  -moz-user-select: none;
  user-select: none;
  -webkit-user-select: none;
}
body{
  /*max-width: 1920px;*/
  margin: 0 auto;
  -webkit-tap-highlight-color: rgba(255,0,0,0);
  font-family: 'PingFangSC-Regular', sans-serif, "Microsoft YaHei",Arial,Tahoma,sans-serif;
}

@media (max-width: 769px) {
    html{
        font-size: 76.9px;
    }
}
@media (max-width: 414px) {
    html{
        font-size: 41.4px;
    }
}
@media (max-width: 412px) {
    html{
        font-size: 41.2px;
    }
}
@media (max-width: 375px) {
    html{
        font-size: 37.5px;
    }
}
@media (max-width: 360px) {
    html{
        font-size: 36px;
    }
}
@media (max-width: 320px) {
    html{
        font-size: 32px;
    }
}
@media (min-width: 769px){
  html{
    font-size: 76.9px!important;
  }
  html, body {
      max-width: 769px;
      margin: 0 auto;
  }
}

.content{
     width: 100%;
     margin: 0 auto;
}
 body *{
     box-sizing: border-box;
}
 .bannerbg,.content,.head,.headbg{
     width: auto;
     min-width: auto;
}
 .content{
     width: 100%;
     min-width: auto;
     margin: 0 auto;
     overflow: hidden;
     width: 100%;
     background: url(https://rs1-vote.huanqiucdn.cn/huanqiutou/image/bg.jpg) no-repeat;
     background-size: 100%;
     background-color: #081525;
     padding-bottom: 1.162162162162162rem;
     overflow: hidden;
     padding: 0 0.40540540540540543rem;
     position: relative;
     padding-bottom: 2.4324324324324325rem;
}
 .banner img{
     width: 100%;
     height: auto;
}
.switch{
  opacity: 0;
}
.til {
   padding: 0 0.2702702702702703rem;
   width: 100%;
   /*height: 1.5675675675675675rem;*/
   line-height: 1.5675675675675675rem;
   text-align: center;
   font-size: 0.7297297297297297rem;
   color: #FFFFFF;
   font-weight: 700;
}
.box{
   position: relative;
   padding-top: 0.02702702702702703rem;
   margin-top: 0.7297297297297297rem;
}
.box .bg{
   width: 8.945945945945946rem;
   height: 3.5135135135135136rem;
   border: 3px solid rgb(255, 255, 255);
   border-radius: 0.2702702702702703rem;
   background-color: rgb(202, 182, 158);
   position: absolute;
   top: 0;
   left: 50%;
   transform: translate(-50%, 0);
   z-index: 0;
}
.box .cont{
   width: 100%;
   min-height: 4.864864864864865rem;
   padding: 0.4864864864864865rem 0.4864864864864865rem 0.4864864864864865rem 1.027027027027027rem;
   box-sizing: border-box;
   background: #FFFFFF;
   border-radius: 0.2702702702702703rem;
   box-shadow: 0rem 0rem 0.5405405405405406rem 0.02702702702702703rem rgb(186 152 107 / 0%);
   margin: 0.16216216216216217rem auto 0;
   position: relative;
   z-index: 1;
}
.icon1 {
   width: 0;
   height: 2.081081081081081rem;
   border-left: 0.02702702702702703rem dashed #efd5b0;
   position: absolute;
   top: 0.4864864864864865rem;
   left: 0.43243243243243246rem;
}
.icon1 li {
   width: 0.2702702702702703rem;
   margin: 0.8648648648648649rem 0 0 -0.13513513513513514rem;
}
.iconcs{
   background: url(https://rs1-vote.huanqiucdn.cn/huanqiutou/image/atlas_css_2.png) no-repeat;
}
.icon1 li i {
   display: block;
   width: 0.2702702702702703rem;
   height: 0.30666666666666664rem;
   background-size: 4000% auto;
   background-position: 98% 23.7%;
}
.box h3{
   width: 100%;
   line-height: 0.8108108108108109rem;
   font-size: 0.4864864864864865rem;
   color: #444444;
   margin-bottom: 0.2972972972972973rem;
}
.box h3 span{
   display: inline-block;
   width: 0.2972972972972973rem;
   height: 0.2972972972972973rem;
   border-radius: 50%;
   background-color: #EFD5B0;
}
.box h3{
   font-weight: 700;
}
.box h3 font,.box h3 a{
   position: relative;
}
/*.box h3 font:before{
   content: '';
   position: absolute;
   left: 0;
   top: 0;
   width: 0.2972972972972973rem;
   height: 0.2972972972972973rem;
   border-radius: 50%;
   background-color: #EFD5B0;
}
*/
.box h3 a{
   color: #EFD5B0;
   display: block;
}
.seeMore{
   font-style: normal;
   font-size: 0.4864864864864865rem;
   color: #EFD5B0;
   font-weight: 700;
}
.box h3 a em{
   display: inline-block;
   height: 0.43243243243243246rem;
   margin-left: 0.13513513513513514rem;
   vertical-align: middle;
}
.box h3 a em i{
   display: block;
   width: 0.3783783783783784rem;
   height: 0.43243243243243246rem;
   background-size: 2700% auto;
   background-position: 99.6% 33.5%;
}
.box .cont p {
   width: 100%;
   line-height: 0.8108108108108109rem;
   font-size: 0.43243243243243246rem;
   color: #777777;
}
.showAll{
   line-height: 0.8108108108108109rem;
   font-size: 0.4864864864864865rem;
   color: #444444;
   margin-bottom: 0.2972972972972973rem;
}
.showAll em{
   display: inline-block;
   height: 0.43243243243243246rem;
   margin-left: 0.13513513513513514rem;
   vertical-align: middle;
}
.showAll em i{
   display: block;
   width: 0.3783783783783784rem;
   height: 0.43243243243243246rem;
   background-size: 2700% auto;
   background-position: 99.6% 33.5%;
}
.moreText{
   display: none;
}
.til2 {
   width: 100%;
   padding: 0.40540540540540543rem 0;
   line-height: 1.0810810810810811rem;
   text-align: center;
   font-size: 0.5405405405405406rem;
   font-weight: normal;
   color: #efd5b0;
}
.til2 b {
   line-height: 1.0810810810810811rem;
   font-size: 0.972972972972973rem;
   font-weight: normal;
}
.box1{
   position: relative;
   padding-top: 0.02702702702702703rem;
}
.box1 .bg1{
   width: 8.945945945945946rem;
   height: 3.5135135135135136rem;
   border: 3px solid rgb(255, 255, 255);
   border-radius: 0.2702702702702703rem;
   background-color: rgb(202, 182, 158);
   position: absolute;
   top: 0;
   left: 50%;
   transform: translate(-50%, 0);
   z-index: 0;
}
.box1 .cont1{
   width: 100%;
   min-height: 4.864864864864865rem;
   padding: 0.4864864864864865rem 0.4864864864864865rem 0.4864864864864865rem 1.027027027027027rem;
   box-sizing: border-box;
   background: #FFFFFF;
   border-radius: 0.2702702702702703rem;
   box-shadow: 0rem 0rem 0.5405405405405406rem 0.02702702702702703rem rgb(186 152 107 / 0%);
   margin: 0.16216216216216217rem auto 0;
   position: relative;
   z-index: 1;
   padding: 0.4864864864864865rem;
}
.box1 .signs{
   display: block;
   width: 6.216216216216216rem;
   height: 1.135135135135135rem;
   line-height: 1.135135135135135rem;
   border-radius: 1.135135135135135rem;
   text-align: center;
   font-size: 0.4864864864864865rem;
   color: #fff;
   margin: 0.5405405405405406rem auto 0;
   background-size: 172% auto;
   background-position: 0% 0%;
}
.codes{
   width: 2.6486486486486487rem;
   height: 2.6486486486486487rem;
   margin: 0.8918918918918919rem auto 0;
   box-sizing: border-box;
   background-size: 274% auto;
   background-position: 0% 99.5%;
}
.codes img{
   width: 2.6486486486486487rem;
   height: 2.6486486486486487rem;
}
#en-ch {
   cursor: pointer;
   position: absolute;
   bottom: 0.6756756756756757rem;
   left: 50%;
   margin-left: -1.7567567567567568rem;
   width: 3.5135135135135136rem;
   height: 1.0810810810810811rem;
   border: 0 none;
   line-height: 1.0810810810810811rem;
   font-size: 0.3783783783783784rem;
   text-align: center;
   background-image: linear-gradient(180deg, #FFEAD0 12%, #D19F57 100%);
   border-radius: 1.3513513513513513rem;
   border-radius: 1.3513513513513513rem;
   font-size: 0.40540540540540543rem;
   color: #000000;
   letter-spacing: 0;
   text-align: center;
  /* border-radius: 0.8108108108108109rem;
   */
}
#fable{
   height: 4rem;
   overflow: hidden;
   display: none!important;
}
#fable h4 {
   width: 100%;
   display: flex;
   margin-bottom: 0.24324324324324326rem;
}
#fable h4 i {
   display: inline-block;
   width: 0.6486486486486487rem;
   height: 0.6486486486486487rem;
   border-radius: 50%;
   overflow: hidden;
   margin-right: 0.4594594594594595rem;
   background-size: 650% auto;
   background-position: 92% 25%;
}
#fable h4 p {
   display: inline-block;
   font-size: 0.3783783783783784rem;
   font-weight: normal;
   color: #444;
   line-height: 0.6486486486486487rem;
   overflow: hidden;
   width: 100%;
}
#fable h4 p span.textspan {
   float: left;
   -webkit-line-clamp: 1;
   -webkit-box-orient: vertical;
   width: 70%;
   display: -webkit-box;
   white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  display: block;
}
#fable h4 p .minutespan {
   float:right;
   width: 30%;
   text-align: right;
}
.message,.message1{
   padding: 0.10810810810810811rem 0.40540540540540543rem;
   position: fixed;
   top: 2.7027027027027026rem;
   width: 70%;
   left: 50%;
   top: 50%;
   transform: translate(-50%, -50%);
   z-index: 1000;
   display: none;
   text-align: center;
   color: #ffffff;
   background: rgba(0,0,0,.8);
   line-height: 0.7027027027027027rem;
   font-size: 0.3783783783783784rem;
   color: #fff;
   display: none;
   border-radius: 0.13513513513513514rem;
   -moz-box-sizing: border-box;
   -webkit-box-sizing: border-box;
   -o-box-sizing: border-box;
   -ms-box-sizing: border-box;
   box-sizing: border-box;
   -webkit-transition: all 0.46s ease;
   -moz-transition: all 0.46s ease;
   -o-transition: all 0.46s ease;
   transition: all 0.46s ease;
}
.messageShow {
   z-index: 2000;
}
.popup{
   width: 100%;
   height: 100%;
   position: fixed;
   top: 0;
   left: 0;
   z-index: 99;
   display: none;
}
.popup dt{
   width: 100%;
   height: 100%;
   background-color: rgba(0, 0, 0, 0.5);
   position: absolute;
   top: 0;
   left: 0;
   z-index: 99;
}
.popup dd{
   width: 6.216216216216216rem;
   margin-top: -0.8648648648648649rem;
   min-height: 1.3513513513513513rem;
   background-color: #fff;
   border-radius: 0.16216216216216217rem;
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   z-index: 999;
}
.popup .img_close{
   display: block;
   width: 0.8648648648648649rem;
   height: 0.8648648648648649rem;
   position: absolute;
   left: 50%;
   bottom: -1.7297297297297298rem;
   margin-left: -0.43243243243243246rem;
   background-size: 645% auto;
   background-position: 99.4% 62.4%;
}
.pop-til{
   width: 6.216216216216216rem;
   height: 3.081081081081081rem;
   position: relative;
}
.pop-til .pop-til-img{
   width: 6.216216216216216rem;
   height: 3.081081081081081rem;
   background-size: 390% auto;
   background-position: 66% 23.5%;
   margin-top: -7%;
}
.pop-til p{
   width: 100%;
   text-align: center;
   font-size: 0.7027027027027027rem;
   color: #fff;
   position: absolute;
   top: 38%;
   left: 0;
}
.pop-content{
   width: 100%;
}
.pop-content .gold{
   width: 1.7567567567567568rem;
   height: 1.7567567567567568rem;
   background-size: 460% auto;
   background-position: 78.5% 65%;
   margin: 0.35135135135135137rem auto;
   border-radius: 50%;
}
.pop-content #ewmimg{
   width: 2.810810810810811rem;
   height: 2.810810810810811rem;
   background-size: 420% auto;
   background-position: 48.6% 68.8%;
   margin: 0.16216216216216217rem auto 0.35135135135135137rem;
}
.pop-content p{
   font-size: 0.3783783783783784rem;
   color: #444444;
   text-align: center;
   margin: 0.08108108108108109rem 0;
}
.pop-content .butt {
  border-radius: 0;
  background-size: 210% auto;
  background-position: 0% 22%;
  cursor: pointer;
  display: block;
  text-align: center;
  color: #fff;
  width: 3.72972972972973rem;
   height: 0.8648648648648649rem;
   line-height: 0.8648648648648649rem;
   margin: 0.6486486486486487rem auto 0.43243243243243246rem;



  font-size: 0.3783783783783784rem;
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) { 
ã€€/* IE10-specific styles go here */
  #fable h4 p .minutespan{
    float: none;
    display: inline-block;
  }
}


/*}*/
